.row {
  margin-left: 20px;
  color: #fff;
}
h2 {
  margin-top: 50px;
  padding-bottom: 10px;
  font-size: 35px;
}
.posters {
  display: flex;
  padding: 0px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster {
  max-height: 250px;
  margin-right: 10px;
  transition: transform .2s;
}
.poster:hover{
  transform: scale(1.05)
}